{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^node:(.*)$",
    "^(?:assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|http2|https|inspector|module|net|os|path|perf_hooks|process|punycode|querystring|readline|repl|stream|string_decoder|timers|tls|tty|url|util|v8|vm|worker_threads|zlib)(?:/.*)?$",
    "<TYPES>",
    "^react$",
    "^next(?:/.*)?$",
    "^(server-only|client-only)$",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/(?:env|config)/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/features/(.*)$",
    "^@/server/(.*)$",
    "^@/db/(.*)$",
    "^@/assets/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/styles/(.*)\\.(css|scss|sass|less)$",
    "^@/(.*)$",
    "^[./](?!.*\\.(css|scss|sass|less)$)",
    "^\\./(.*)\\.(css|scss|sass|less)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
